#header_left, #header_middle, #header_right, #header_left button, #header_right button{
min-height:30px;
height:8vh;
}
#header_import, #header_library, #header_learning, #header_language{
display: block;
min-height: 15px;
height: 4vh;
}
#header_left, #header_right {
min-width:85px;/*2x85+102=272*/
width:31.25%;/*2x31.25+37.5=100*/
}
#header_left button, #header_right button {
min-width:85px;
width:100%;
}
#header_middle {
min-width:102px;/*2x85+102=272*/
width:37.5%;/*2x31.25+37.5=100*/
text-align: center;
}
#header_import{
width : 25%;
}
#header_library{
width : 35%;
}
#header_learning{
width : 40%;
}
#select_language,#select_librarylst,#select_library {
float:left;
}