#footer_app{
min-height:30px;
height:26vh;
width : 100vw;
}
#st_field{
min-height:30px;
height:6vh;
width : 100vw;
background-color: darkseagreen;
}
#voice_field{
min-height:30px;
height:20vh;
width : 100vw;
background-color: lightgreen;
}