/* VIEW IMPORT CSS */
/*HEADER && FOOTER*/
/*HEIGHT*/
#footer_camera, #footer_text, #footer_micro, #footer_camera button, #footer_micro button, #footer_text button {
    min-height:44px;
    height:12vh;
}
#footer_camera, #footer_micro {
    min-width: 51px;/*2x51+170=272*/
    width : 18.75%;/*2x17.75+62.5*/
}
#footer_text {
    min-width: 172px;/*2x51+170=272*/
    width: 62.5%;/*2x17.75+62.5*/
}
#footer_camera button, #footer_micro button{
    width: 100%;
}
#footer_text button {
    width: 50%;
}
/*CONTENT*/
#section_camera, #section_micro {
position : relative;
}
#section_camera_record{
position: absolute;
bottom: 6.25vh;
visibility: hidden;
}
#section_camera_import, #section_micro_record{
position: absolute;
bottom: 0;
visibility: hidden;
}
#section_camera, #section_micro, #section_image {
    min-height: 266px;
    height: 80vh;
}
#section_camera, #section_micro {
min-width: 51px;/*2x51+170=272*/
width: 18.75%;/*2x17.75+62.5*/
}
#section_image {
min-width: 170px;/*2x51+170=272*/
width: 62.5%;/*2x17.75+62.5*/
text-align: center;
}
#section_image img {
height: 37.5vw;
width: 37.5vw;
margin-top: 6.25vh;
border: 1px solid black;
}
#section_camera_record, #section_camera_import, #section_micro_record {
min-height: 30px;
height: 6.25vh;
width: 100%;
}