html,body {
	width:100%;
	height:100%;
}
body {
	margin:0;
	padding:0;
}
h1 {
	font-family: 'Voltaire', sans-serif;
}
h2 {
	font-family: 'Voltaire', sans-serif;
	font-size:small;
}
p {
	font-family: 'Droid Serif', serif;
	font-size:small;
}
a.download {
	background-color:#0a1;
	color:white;
	font-family:sans-serif;
	text-decoration:none;
}
.square {
	/*float: left;*/
	/*display: block;*/
	padding:1rem;
	border-radius:5px;
	border:3px solid #9d5;
	width:9rem;
	height:9rem;
	box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.7);
	margin: 0.5rem;
	transition: all 0.2s ease-out;
}
.square:hover {
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.7);
}
.crop {
	width:9rem;
	height:9rem;
	overflow: hidden;
	position:relative;
}
.picture {
	width:100%;
	height:100%;
	position:absolute;
	top:-0.5rem;
	left:-0.5rem;
}

#frame {
	border:1px solid grey;
	display:inline-block;
	overflow:hidden;
	padding:10px;
/*
	position:absolute;
	margin-left:50%;
	left:-250px;
	width:500px;
*/
}
.choice {
}
#pict1 {
	float:left;
}
#pict2 {
	float:left;
}
#pict3 {
	clear:both;
	float:left;
}
#pict4 {
	float:left;
}
#targetName {
	clear:both;
	font-family:serif;
	font-style:italic;
	font-weight:bold;
	font-size:2rem;
	text-align:center;
}
