
/*Div Blocks*/
#act, #actions {
  background-color: #ccccb3;
}
#obj, #objects {
  background-color: #c2c2a3;
}
#att, #items {
  background-color: #b8b894;
}
#actT, #actionsT {
  background-color: #f2f2f2;
}
#objT, #objectsT {
  background-color: #e6e6e6;
}
#itT, #itemsT {
  background-color: #d9d9d9;
}
#act, #obj, #att, #actT, #objT, #itT {
  position: absolute;
  top: 30px; right: 0; bottom: 0; left: 0;
}

.topCornersOnly {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/*Image*/
img {
  width: 129px;
  height: 129px;
}

/*Color icons valid*/
#iconCheck {
  background-color: green;
}
#iconNoCheck {
  background-color: red;
}

/*Pages*/
.header {
  position: absolute;
  top: 0; left: 0; right: 0;
  height: 60px; line-height: 60px;
  text-transform: uppercase;
}
.footer {
  position: absolute;
  bottom: 0; left: 0; right: 0;
  height: 170px;
  text-transform: uppercase;
}
.ui-content {
  position: absolute;
  top: 60px; right: 0; bottom: 170px; left: 0;
}
.tabs {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-overflow-scrolling:touch;  
}
.onglet {
  position: absolute;
  top: 0; left: 0; right: 0;
  height: 20px;
}
.elementArea {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
}
.speakArea {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  text-align: right;
}

/*Sortable elements*/
#sortable-el, #sortable-elT {
  min-height: 170px;
  width: 100%;
}
#sortable-sp, #sortable-spT {
  height: 170px;
  width: 80%;
}
#sortable-el, #sortable-sp, #sortable-elT, #sortable-spT {
  list-style-type: none;
  margin: 0; 
  float: left;
}
#sortable-el ul, #sortable-sp ul, #sortable-elT ul, #sortable-spT ul {
  list-style-type: none;
  height: 150px;
  width: 150px;
}
#sortable-el li, #sortable-sp li, #sortable-elT li, #sortable-spT li {
  list-style-type: none; 
  float: left;
  margin: 5px;
  text-align: center;
}
.ui-state-highlight { 
  height: 129px;
  width: 129px;
}

/*Form*/
input { 
  display:block; 
}
input.text { 
  margin-bottom:12px; 
  width:95%; 
  padding: .4em; 
}
#error {
  text-align: center;
}