
/*Div Blocks*/
#act, #actions {
  background-color: #ccccb3;
}
#obj, #objects {
  background-color: #c2c2a3;
}
#att, #items {
  background-color: #b8b894;
}
#actT, #actionsT {
  background-color: #f2f2f2;
}
#objT, #objectsT {
  background-color: #e6e6e6;
}
#itT, #itemsT {
  background-color: #d9d9d9;
}

.topCornersOnly {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.speakArea {
  text-align: right;
}

/*Image*/
img {
  width: 95px;
  height: 95px;
  padding:1px;
}

/*Color icons valid*/
#iconCheck {
  background-color: green;
}
#iconNoCheck {
  background-color: red;
}

.header {
  position: absolute;
  top: 0; left: 0; right: 0;
  height: 60px; line-height: 60px;
  text-transform: uppercase;
}

.footer {
  position: absolute;
  bottom: 0; left: 0; right: 0;
  height: 60px; line-height: 60px;
  text-transform: uppercase;
}

.ui-content {
  position: absolute;
  top: 60px; right: 0; bottom: 60px; left: 0;
}

.tabs {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  -webkit-overflow-scrolling:touch;  
}

.onglet {
  position: absolute;
  top: 0; left: 0; right: 0;
  height: 20px;
}

.elementArea {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
}

.ui-grid-d, #act, #obj, #att, #actT, #objT, #itT {
  position: absolute;
  top: 30px; right: 0; bottom: 0; left: 0;
}

.column {
  width: 170px;
  float: left;
  padding-bottom: 100px;
}
.portlet {
  margin: 0 1em 1em 0;
  padding: 0.3em;
}
.portlet-header {
  padding: 0.2em 0.3em;
  margin-bottom: 0.5em;
  position: relative;
}
.portlet-footer {
  padding: 0.2em 0.3em;
  margin-bottom: 0.5em;
  position: relative;
}
.portlet-content {
  padding: 0.4em;
}
.portlet-placeholder {
  border: 1px dotted black;
  margin: 0 1em 1em 0;
  height: 100px;
}

label, input { 
  display:block; 
}
input.text { 
  margin-bottom:12px; 
  width:95%; 
  padding: .4em; 
}
fieldset { 
  padding:0; 
  border:0; 
  margin-top:25px; 
}
.ui-dialog {
  position: absolute;
  height: auto;
  width: 350px;
  top: 52px;
  left: 782px;
  display: block;
  z-index: 101;
}
.ui-dialog .ui-state-error {
  padding: .3em; 
}
.validateTips { 
  border: 1px 
  solid transparent; 
  padding: 0.3em; 
}
#dialog-form {
  width: auto;
  min-height: 0px;
  max-height: none;
  height: 207px;
}