/* VIEW GALLERY CSS */
/*HEADER && FOOTER*/
#header_gallery, #header_gallery button, #footer_gallery, #footer_gallery button{
    min-height:30px;
    height:5vh;
    min-width: 100%;
    width: 100%;
}
/*CONTENT*/
#content_gallery {
min-height: 266px;
height: 82vh;
min-width: 51px;/*2x51+170=272*/
width: 100%;/*2x17.75+62.5*/
background-color: pink;
}

#content_gallery ul {
height: 82vh;
background-color: yellow;
list-style: none;
}

#content_gallery li {
height: 30vh;
}

#va img, #vb img{
    margin: 1vh;
height: 28vh;
width: 28vh;
border: solid black 1px;
}

#vc img{
    margin: 1vh;
height: 14vh;
width: 28vh;
border: solid black 1px;
}